# Data files (too large for GitHub)
data/raw/*.csv
data/processed/*.csv

# Power BI temp files
*.pbix.bak

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
